.work-assignment-container {
    display: flex;
    margin: 10px auto;
}


.work-assignment-cell {
    margin-right: 10px;
    margin-left: 10px;
}

.work-assignment-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-assignment-buttons > button {
    margin: 5px;
    z-index: 0 !important;
}

/* to fix positions of borders */
.autocomplete {
    padding-top: 6px !important;
}

.autocomplete-cell > .input-field > label {
    transform: translateY(-14px) scale(0.8) !important;
}

/*#work-assignments-collection > ul > li:nth-child(1) > form > div:nth-child(2) > div > label {*/
/*    transform: translateY(-14px) scale(0.8) !important;*/
/*}*/