.work-assignment-container {
    display: flex;
    margin: 10px auto;
}


.work-assignment-cell {
    margin-right: 10px;
    margin-left: 10px;
}

.work-assignment-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-assignment-button {
    margin: 5px;
}